[submodule "tepp"]
	path = tepp
	url = https://www.github.com/intrets/tepp
[submodule "mem"]
	path = mem
	url = https://github.com/intrets/mem
[submodule "serial"]
	path = serial
	url = https://github.com/intrets/serial
[submodule "misc"]
	path = misc
	url = https://github.com/intrets/misc
